.avatar{
    vertical-align: middle;
    width:4rem;
    height:4erm;
    border-radius: 50%;
}

.container{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: .75rem;
    -webkit-column-gap: .75rem;
    column-gap: .75rem;
    margin-bottom: 1.5rem;
    align-items: center;
}


/* .container .col1{
    height: 4rem;
    text-align: justify;
    padding-right: 0.25rem;
}
.container .col2{
    text-align: justify;
    height: 4rem;
} */

